.bkg{
	border: 1px solid black;
	border-radius: 10px;
}
.otp {
    width: 450px;
    border-radius: 10px;
    background: #f2f7ff;
    border: none;
    height: 450px;
}
.signup {
    width: 450px;
    border-radius: 10px;
    background: #f2f7ff;
    border: none;
    height: 450px;
}
.login {
    width: 450px;
    border-radius: 10px;
    background: #ffdac1;
    border: none;
    height: 450px;
}
.btnverify, .textverify{
	width: 80%;
	text-align: center;
	margin: 3px;
}
.headerverify{
	padding-top: 20px;
	font-family: Courier New;
	font-size: 20px;
	color: white;
	font-weight: bolder;
}